<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Mobile Version</title>
        <!--In the header of your page, paste the following for Kendo UI Mobile styles-->
        <link href="styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
        <link href="styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <!--Then paste the following for Kendo UI Mobile scripts-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdn.kendostatic.com/2012.1.124/js/kendo.all.min.js" type="text/javascript"></script>
        <script src="http://cdn.kendostatic.com/2012.1.124/js/kendo.mobile.min.js" type="text/javascript"></script> 
    </head>
    <body>
        <div data-role="view" data-title="Free Webstore Control Panel">
            <div data-role="header">Header</div>
            <h3>Autocomplete</h3>
            <p>Type in something wedding related</p>   
            <p>Allows multiple entries, this examples seperates them with a comma.</p>
            <div class="search">
                <input id="autoComplete" />
            </div>
            <script>
                $(document).ready(function ()
                {
                    $("#autoComplete").kendoAutoComplete(
                        {
                            minLength: 3,
                            dataTextField: "productName", // XML property name to use
                            dataSource: new kendo.data.DataSource({
                            type: "xml", // specifies data protocol
                            pageSize: 10, // limits result set
                            transport:
                                {
                                    read: "products.xml"
                                },
                            schema:
                                {
                                    type: "xml",
                                    data: "/products/product",
                                    model:
                                        {
                                            fields:
                                                {
                                                    productName: "productName/text()"
                                                }
                                        }
                                }     
                        })
                    });
                });
            </script> 
            <div data-role="footer">Footer</div>
        </div>
    </body>
</html>