<div data-role="view" id="bioview" data-show="bioListViewDataShow" data-layout="back-button-layout" data-title="Bio">
    <div class="view-row-details-container-table">
        <div class="view-row-details-container-table-cell">
            <span class="view-header" data-bind="text: FullName"></span>
        </div>
    </div>
    <ul data-role="listview" data-style="inset" class="formArea" onclick="">
        <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>Office</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:Office"></span>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>State</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:StateName"></span>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>Phone</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:Phone"></span>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>Year Elected</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:TermStart"></span>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>Chamber</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:Chamber" style="text-transform: capitalize;"></span>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>Party</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:Party"></span>
                </li>
            </ul>
            <!--<ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>State Rank</span>
                </li>
                <li class="listview-row-display-cell-data">
                    <span data-bind="text:StateRank" style="text-transform: capitalize;"></span>
                </li>
            </ul>-->
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-label">
                    <span>DETAILS</span>
                    <a href="#modalbio" data-role="button" data-rel="modalview" data-icon="expand-e" class="expand-button">full-screen</a>
                </li>
            </ul>
            <ul class="listview-row-input-table">
                <li class="listview-row-display-cell-data">
                    <div data-role="scroller" style="height: 14em;">
                        <span data-bind="text:Bio"></span>
                    </div>
                    <div data-role="modalview" id="modalbio" style="width: 100%; height: 100%">
                        <div data-role="header">
                            <div data-role="navbar">
                                <span>Details</span>
                                <a data-role="button" data-align="right" data-click="closeModalBio" class="nav-button">Close</a>
                            </div>
                        </div>
                        <ul data-role="listview" data-style="inset" style="margin: 0; padding: 0;">
                            <li style="margin: 0; padding: 0;">
                                <textarea class="modalTextArea" id="biodetails" readonly></textarea>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>