<div data-role="view" id="initiativetiersview" data-show="initiativeTiersListViewDataShow" data-layout="back-button-layout" data-title="Initiative Tiers">
    <ul style="border-bottom: solid 1px gray; display: table; margin: 0; padding: 0; width: 100%;">
        <li style="display: table-cell; padding: 0.5em 0 0.5em 0.5em; width: 80%;">
            <span class="listview-row-header">Initiative</span>
        </li>
        <li style="display: table-cell; padding: 0.5em 0.5em 0.5em 0; text-align: right; width: 20%;">
            <span class="listview-row-header">Tier</span>
        </li>
    </ul>
    <ul id="initiativeTiersListView"></ul>
</div>

<script type="text/x-kendo-template" id="initiativeTiersListViewTemplate">
    <ul style="display: table; margin: 0; padding: 0; width: 100%;">
        <li style="display: table-cell; width: 80%;">
            <span class="listview-row-detail">#:Initiative#</span>
        </li>
        <li style="display: table-cell; text-align: right; width: 20%;">
            <span class="listview-row-detail">#:Tier#</span>
        </li>
    </ul>
</script>