<div data-role="view" id="initiativesurveyview" data-init="initiativeSurveyListViewDataInit" data-show="initiativeSurveyListViewDataShow" data-layout="back-button-layout" data-title="Initiative Survey">
    <div class="view-row-details-container-table">
        <div class="view-row-details-container-table-cell">
            <span class="view-header" data-bind="text: FullName"></span>
        </div>
    </div>
    <ul data-role="buttongroup" data-index="0" data-select="onInitiativeSurveyGroupSelect">
        <li>Current Questions</li>
        <li>Archived Questions</li>
    </ul>
    <ul id="initiativeSurveyListView"></ul>
</div>

<script type="text/x-kendo-template" id="initiativeSurveyListViewTemplate">
    <div style="display: table; height: 4em;">
        <div style="display: table-cell; vertical-align: middle;">
            <input type="hidden" id="id" value="#:InitiativeSurveyId#" />
            <span class="listview-row-header">#:InitiativeSurvey#</span>
        </div>
    </div>
    <a data-role="detailbutton" data-icon="details"></a>
</script>