<div data-role="view" id="task-edit-detailview" data-show="taskDetailShow" data-init="taskDetailInit">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton" id="cancel">
                <div>
                	Cancel
                </div>
            </a>
            <span data-role="view-title">Legislator Issue</span>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" id="done">Save</a>
        </div>
    </header>
    <form>
		<ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-heading-table">
					<li class="listview-row-input-heading-cell">
                        <span>ISSUE DETAILS</span>
                    </li>
           		</ul>
            </li>
			<li style="margin: 0px; padding: 0px; width: 100%;">
				<ul class="listview-row-input-table">
					<li class="listview-row-input-cell-label">
                        <span>Issue</span>
                    </li>
					<li class="listview-row-input-cell-control">
                        <select id="IssueId">
                            <option value="0">Select a Value</option>
                            <option value="1">Cyber</option>
                            <option value="2">Global Regulatory Convergence</option>
                            <option value="3">Tax Reform</option>
                            <option value="4">Flood</option>
                            <option value="5">Caught in the Middle</option>
                        </select>
                    </li>
           		</ul>
    		</li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
				<ul class="listview-row-input-table">
					<li class="listview-row-input-cell-label">
                        <span>Stance</span>
                    </li>
					<li class="listview-row-input-cell-control">
                        <select id="StanceId">
                            <option value="0">Select a Value</option>
                            <option value="1">Will not sponsor</option>
                            <option value="2">Likely will not sponsor</option>
                            <option value="3">Uncertain</option>
                            <option value="4">Likely will sponsor</option>
                            <option value="5">Sponsor/Co-Sponsor</option>
                        </select>
                    </li>
           		</ul>
    		</li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
				<ul class="listview-row-input-table">
					<li class="listview-row-input-cell-label">
                        <span>Legislator</span>
                    </li>
					<li class="listview-row-input-cell-control">
                        <input type="text" data-bind="value: Legislator"/>
                    </li>
           		</ul>
    		</li>
        </ul>
    </form>
  </div>