<div data-role="view" id="legislatorview" data-init="legislatorListViewDataInit" data-show="legislatorListViewDataShow" data-layout="back-button-layout" data-title="Legislator">
    <div class="view-row-details-container-table">
        <!--<div class="view-photo-container">
            <img id="photo" class="view-header-photo" data-bind="attr: { src: ImageUrl }"/>
        </div>-->
        <div class="view-row-details-container-table-cell">
            <span class="view-header" data-bind="text: FullName"></span>
            <!--<br/>
            <span class="view-detail" data-bind="text: Description"></span>-->
        </div>
    </div>
    <ul id="legislatorListView"></ul>
</div>

<script type="text/x-kendo-template" id="legislatorListViewTemplate">
    <div style="display: table; height: 4em;">
        <div style="display: table-cell; text-align: center; vertical-align: middle;">
            <input type="hidden" id="url" value="#:Url#" />
            <input type="hidden" id="id" value="#:Id#" />
            <span class="listview-row-header-default">#:Label#</span>
        </div>
    </div>
    <a data-role="detailbutton" data-icon="details"></a>
</script>