<div data-role="view" id="relation-detailview" data-show="relationDetailShow" data-init="relationDetailInit">
	<header data-role="header">
		<div data-role="navbar">
			<a class="nav-button nav-button-back" data-align="left" data-role="backbutton" id="back">
                <div>
                	Back
                </div>
            </a>
			<span data-role="view-title">Profile</span>
            
				 <a id="edit" data-role="button"  class="nav-button nav-button-edit" data-align="right" data-actionsheet-context="1" data-rel="actionsheet" href="#formActionSheet">
                <div>
                	Edit
                </div>
            </a>
            
 		</div>
    </header>
    <ul data-role="listview" data-style="inset" class="formArea" onclick="">
        <!--<li style="background-color: #cc2d30;">
          <div class="profile-photo-container">
                <img id="photo" class="profile-photo" data-bind="attr: { src: ImageUrl }" /> 
            </div>
            <div class="profile-details-container">
                <span class="profile-name-detail" data-bind="text: Name"></span>
                <br/>
                <span class="profile-company-detail" data-bind="text: Company"></span>
            </div>
   </li>
        -->
     
           <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Name</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: FullName"></span>
                    <!--<a id="phone" data-bind="attr: { href: Phone }" data-rel="external"></a>-->
                </li>
            </ul>
        </li>
        
     
           <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Company</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: Company"></span>
                    <!--<a id="phone" data-bind="attr: { href: Phone }" data-rel="external"></a>-->
                </li>
            </ul>
        </li>
        <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Phone</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: WorkPhone"></span>
                    <!--<a id="phone" data-bind="attr: { href: Phone }" data-rel="external"></a>-->
                </li>
            </ul>
        </li>
        <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Email</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: EmailAddress"></span>
                </li>
            </ul>
        </li>
        	<li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-heading-table">
					<li class="listview-row-input-heading-cell">
                        <span>NOTES</span>
                    </li>
           		</ul>
            </li>
      		<li style="margin: 0px; padding: 0px; width: 100%;">
           		<ul class="listview-row-input-table">
             		<li class="listview-row-input-cell-control">
                        <textarea id="notes" style="resize: none" data-bind="value: Notes" rows="5"></textarea>
                	</li>
           		</ul>
    		</li>
        
        
    </ul>
 


<ul data-role="actionsheet" id="formActionSheet">
    <li><a data-action="save">Save</a></li>
    <li><a data-action="del">Delete</a></li>
</ul> 
    
</div>