<div data-role="view" id="legislatorsview" data-init="legislatorsListViewDataInit" data-show="legislatorsListViewDataShow" data-layout="no-button-layout" data-title="Legislators">
    <form id="legislatorsForm">
        <ul id="legislatorsListView"></ul>
    </form>
</div>

<script type="text/x-kendo-template" id="legislatorsListViewTemplate">
    <!--<div class="listview-row-photo-container">
        <img class="listview-row-photo" src="#:ImageUrl#" />
    </div>-->
    <div style="display: table; height: 3em;">
        <div style="display: table-cell; text-align: center; vertical-align: middle;">
            <span class="listview-row-header">#:LastName#, #:FirstName# #:MiddleName#</span>
            <!--<br/>
            <span class="listview-row-subdetail">#:StateName# #:Chamber# (#:Party#)</span>-->
            <a data-role="detailbutton" data-icon="details"></a>
        </div>
        <div class="swipeButtons">
            <input type="hidden" name="legislatorid" value="#:LegislatorId#" />
            <ul>
                <li class="green">
                    <a data-role="button" data-icon="add"></a><!--<span style="display: block; font-size: 0.5em">New Meeting</span>-->
                </li>
                <li class="blue">
                    <a data-role="button" data-icon="meeting-e"></a><!--<span style="display: block; font-size: 0.5em">Meetings</span>-->
                </li>
            </ul>
        </div>
    </div>
</script>
