<div data-role="view" id="relation-addview"  data-init="relationadddetailInit" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton" id="cancel">
                <div>
                	Cancel
                </div>
            </a>
            <span data-role="view-title">Add Relationship</span>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" id="done">Save</a>
        </div>
    </header>
	<form>
  		<ul data-role="listview" data-style="inset" class="formArea" onclick="">
  			<li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-heading-table">
					<li class="listview-row-input-heading-cell">
                        <span>PCI MEMBER CONTACT</span>
                    </li>
           		</ul>
            </li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
				<ul class="listview-row-input-table">
					<li class="listview-row-input-cell-label">
                        <span>Contact Name</span>
                    </li>
					<li class="listview-row-input-cell-control">
                        <select id="pciPerson">
                            <option value="0">Person 1</option>
                            <option value="1">Person 2</option>
                            <option value="2">Person 3</option>
                            <option value="3">Person 4</option>
                            <option value="4">Person 5</option>
                            <option value="5">Person 6</option>
                        </select>
                    </li>
           		</ul>
    		</li>
  			<li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-heading-table">
					<li class="listview-row-input-heading-cell">
                        <span>NOTES</span>
                    </li>
           		</ul>
            </li>
      		<li style="margin: 0px; padding: 0px; width: 100%;">
           		<ul class="listview-row-input-table">
             		<li class="listview-row-input-cell-control">
                        <textarea style="resize: none" data-bind="value: Notes" rows="5"></textarea>
                	</li>
           		</ul>
    		</li>
	</form>
</div>

