<div data-role="view" id="relation-addview"  data-init="relationDetailAddInit" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton" id="cancel">
                <div>
                	Cancel
                </div>
            </a>
            <span data-role="view-title">Add Relationship</span>
       <!--  <a class="nav-button nav-button-post" data-align="right" data-role="button" id="save">Save</a> --->
       
        </div>
    </header>
    
    	<ul id="relationsadd-listview" 
            data-auto-bind="false" 
            data-style="inset"
            selectable="true"
            style="height: 250px" 
            data-use-native-scrolling="true"  ></ul>
    </div>




<script type="text/x-kendo-template" id="relationsAddListViewTemplate">
         <div class="profile-details-container">
                <span class="profile-name">#:FullName#</span>
                		  <a data-role="button" style="float:right">Select</a>
                <br/>
                <span class="profile-company">#:Company#</span>

       </div>


  
</script>