<div data-role="view" id="relationsview" data-show="relationsDetailShow" data-init="relationsListViewDataBindInit" data-title="Legislator Relationship" data-layout="main">
       <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-back" data-align="left" data-role="backbutton" id="back">
                <div>
                	Back
                </div>
            </a>
            <span data-role="view-title">Legislator Relationship</span>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" href="views/legislatorPciRelationSelect.html">Add</a>
        </div>
    </header>
	<ul id="relations-listview"></ul>
</div>

<script type="text/x-kendo-template" id="relationsListViewTemplate">
   <!-- 
	<div class="profile-photo-container">
    	
             <img class="profile-photo" src="#: ImageUrl #" /> 
    </div>
     -->  
    <div class="profile-details-container">
    	<span class="profile-name">#: FullName #</span>
        <br/>
        <span class="profile-company">#: Company #</span>
    </div>
    <a data-role="detailbutton" data-icon="details"></a>
</script>

