<div data-role="view" id="legislatorsview" data-init="legislatorsListViewDataBindInit" data-title="Legislators" data-layout="main">
    <ul id="legislators-listview"></ul>
</div>

<script type="text/x-kendo-template" id="legislatorsListViewTemplate">
	<!--<div class="listview-row-photo-container">
    	<img class="listview-row-photo" src="#:ImageUrl#" />
    </div>-->
    <div style="display: table; height: 4em;">
        <div style="display: table-cell; text-align: center; vertical-align: middle;">
            <span class="listview-row-header">#:LastName#, #:FirstName# #:MiddleName#</span>
            <!--<br/>
            <span class="listview-row-detail">#:Description#</span>-->
        </div>
    </div>
    <a data-role="detailbutton" data-icon="details"></a>
</script>