<div data-role="view" id="legislatorsview" data-init="legislatorsListViewDataBindInit" data-title="Legislators" data-layout="main">
    <ul id="legislators-listview"></ul>
</div>

<script type="text/x-kendo-template" id="legislatorsListViewTemplate">
	<div class="listview-row-photo-container">
    	<img class="listview-row-photo" src="#:ImageUrl#" />
    </div>
    <div>
    	<span class="listview-row-header">#:Name#</span>
        <br/>
        <span class="listview-row-detail">#:Description#</span>
    </div>
    <a data-role="detailbutton" data-icon="details"></a>
</script>