<div data-role="view" id="meetingview" data-init="meetingListViewDataInit" data-show="meetingListViewDataShow" data-layout="save-button-layout" data-title="Edit Meeting">
    <form id="meetingForm">
        <div class="messages k-error-colored" >
            <span data-for="meetingdate" class="k-invalid-msg"></span>
			<span data-for="legislator" class="k-invalid-msg"></span>
            <span data-for="officeattendees" class="k-invalid-msg"></span>
            <span data-for="type" class="k-invalid-msg"></span>
        </div>
        <ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Meeting Date</span>
                    </li>
                    <li class="listview-row-input-cell-control">
                        <input name="meetingdate" type="date" data-bind="value: meetingItem.MeetingDate" data-value-update="blur" required validationmessage="Meeting date is required<br /\>" />
                    </li>
                </ul>
            </li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Notes</span>
                        <a data-role="button" data-click="openModalMeetingNotes" data-icon="expand-e" class="expand-button">full-screen</a>
                    </li>
                </ul>
            </li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-control">
                        <textarea data-bind="value: meetingItem.Notes"></textarea>
                        <div data-role="modalview" id="modalmeetingnotes" style="width: 100%; height: 100%">
                            <div data-role="header">
                                <div data-role="navbar">
                                    <a data-role="button" data-align="left" data-click="cancelModalMeetingNotes" data-icon="cancel-e" class="nav-button">Cancel</a>
                                    <span>Notes</span>
                                    <a data-role="button" data-align="right" data-click="updateModalMeetingNotes" class="nav-button">Update</a>
                                </div>
                            </div>
                            <ul data-role="listview" data-style="inset" style="margin: 0; padding: 0;">
                                <li style="margin: 0; padding: 0;">
                                    <textarea class="modalTextArea" id="meetingnotes"></textarea>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="meetingInitiativeListView"></ul>
        <div id="collapsible" data-role="collapsible" data-animation="false">
            <h2>MEETING INFORMATION</h2>
            <ul data-role="listview" data-style="inset" class="formArea" onclick="">
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Legislator</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select name="legislator" data-bind="source: legislatorsOptions, value: meetingItem.LegislatorId"
                                    data-template="legislator-select-template" id="meetingLegislator" required validationmessage="Legislator is required<br /\>">
                            </select>
                            <script id="legislator-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Office Attendees</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select name="officeattendees" data-bind="source: attendeeTypesOptions, value: meetingItem.AttendeeTypeId"
                                    data-template="attendeeType-select-template" id="meetingAttendeeType" required validationmessage="Office attendees is required<br /\>">
                            </select>
                            <script id="attendeeType-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Type</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select name="type" data-bind="source: meetingLocationsOptions, value: meetingItem.MeetingLocationId"
                                    data-template="meetingLocation-select-template" id="meetingLocation" required validationmessage="Type is required<br /\>">
                            </select>
                            <script id="meetingLocation-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Congressional Staff Attendees</span>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-control">
                            <!--<input type="text" data-bind="value: meetingItem.LegislatorStaffAttendees" />-->
                            <textarea data-bind="value: meetingItem.LegislatorStaffAttendees"></textarea>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="meetingOtherListView" style="border-top: solid 1px #ccc"></ul>
        </div>
    </form>
</div>

<script type="text/x-kendo-tmpl" id="meetingInitiativeListViewTemplate">
    <input type="hidden" id="url" value="#:Url#" />
    <input type="hidden" id="id" value="#:Id#" />
	<span class="listview-row-detail-form">#:Label#</span>
    <a data-role="detailbutton" data-icon="details"></a>
</script>

<script type="text/x-kendo-tmpl" id="meetingOtherListViewTemplate">
    <input type="hidden" id="url" value="#:Url#" />
    <input type="hidden" id="id" value="#:Id#" />
    <span class="listview-row-detail-form">#:Label#</span>
    <a data-role="detailbutton" data-icon="details"></a>
</script>
