<div data-role="view" data-title="Contacts" data-layout="main" >
  <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Thursday 05/06/15
            <ul>
                <li>Sen.Cory Booker <br>2:00 PM <br> with Matt Klapper Chief of Staff [D-NJ]) </li>
                <li>Rep. Donald Norcross [D-NJ] <br>3:00 PM <br> with Michael Maitland, Chief of Staff</li>
                <li>Rep. Bonnie Watson Coleman <br>1:00 PM <br> with James Gee, Chief of Staff</li>

            </ul>
        </li>
    </ul>
</div>

