<div data-role="view" id="meetingview" data-init="meetingListViewDataInit" data-show="meetingListViewDataShow" data-use-native-scrolling="true" data-layout="save-button-layout" data-title="Edit Meeting">
    <form>
        <!--<div class="view-row-details-container-table">
            <div class="view-row-details-container-table-cell">
                <span class="view-header" data-bind="text:meetingItem.FullName"></span>
            </div>
        </div>-->
        <ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Meeting Date</span>
                    </li>
                    <li class="listview-row-input-cell-control">
                        <input type="date" data-bind="value: meetingItem.MeetingDate" />
                    </li>
                </ul>
            </li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Notes</span>
                    </li>
                </ul>
            </li>
            <li style="margin: 0px; padding: 0px; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-control">
                        <textarea style="resize: none" data-bind="value: meetingItem.Notes"></textarea>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="meetingInitiativeListView"></ul>
        <div id="collapsible" data-role="collapsible" data-animation="false">
            <h2>MEETING INFORMATION</h2>
            <ul data-role="listview" data-style="inset" class="formArea" onclick="">
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Legislator</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select data-bind="source: legislatorsOptions, value: meetingItem.LegislatorId" data-template="legislator-select-template"></select>
                            <script id="legislator-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Office Attendees</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select data-bind="source: attendeeTypesOptions, value: meetingItem.AttendeeTypeId" data-template="attendeeType-select-template"></select>
                            <script id="attendeeType-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Type</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <select data-bind="source: meetingLocationsOptions, value: meetingItem.MeetingLocationId" data-template="meetingLocation-select-template"></select>
                            <script id="meetingLocation-select-template" type="text/x-kendo-template">
                                <option value="#:Value#">#:Text#</option>
                            </script>
                        </li>
                    </ul>
                </li>
                <li style="margin: 0px; padding: 0px; width: 100%;">
                    <ul class="listview-row-input-table">
                        <li class="listview-row-input-cell-label">
                            <span>Cong. Staff Attendees</span>
                        </li>
                        <li class="listview-row-input-cell-control">
                            <input type="text" data-bind="value: meetingItem.LegislatorStaffAttendees" />
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="meetingOtherListView"></ul>
        </div>
    </form>
</div>

<script type="text/x-kendo-tmpl" id="meetingInitiativeListViewTemplate">
    <input type="hidden" id="url" value="#:Url#" />
    <input type="hidden" id="id" value="#:Id#" />
	<span class="listview-row-detail-form">#:Label#</span>
    <a data-role="detailbutton" data-icon="details"></a>
</script>

<script type="text/x-kendo-tmpl" id="meetingOtherListViewTemplate">
    <input type="hidden" id="url" value="#:Url#" />
    <input type="hidden" id="id" value="#:Id#" />
    <span class="listview-row-detail-form">#:Label#</span>
    <a data-role="detailbutton" data-icon="details"></a>
</script>
