<div data-role="view" id="meetingsview" data-init="meetingsListViewDataInit" data-show="meetingsListViewDataShow" data-layout="add-button-layout" data-title="Meetings">
    <ul data-role="buttongroup" data-index="0" data-select="onMeetingsGroupSelect">
        <li>Recent Meetings</li>
        <li>All Meetings</li>
    </ul>
    <ul id="meetingsListView"></ul>
</div>

<script type="text/x-kendo-tmpl" id="meetingsListViewTemplate">
    <div style="display: table-cell; text-align: left; vertical-align: middle;">
        <span class="listview-row-header">#:Name#</span>
        <br />
        <span class="listview-row-detail">#:kendo.toString(kendo.parseDate(MeetingDate, 'yyyy-MM-dd'), 'MM/dd/yyyy')#</span>
        <br />
        <span class="listview-row-subdetail">with #:LegislatorStaffAttendees#</span>
        <br />
        <span class="listview-row-subdetail">on #:PciInitiatives#</span>
        <a data-role="detailbutton" data-icon="details"></a>
    </div>
    <div class="swipeButtons">
        <ul>
            <li class="red">
                <a data-role="button"><span style="display: block; font-size: 0.75em">Delete</span></a> <!-- data-icon="delete-e"-->
            </li>
        </ul>
    </div>
</script>

