<div data-role="view" id="profileview" data-init="meetingAttendeeAddListViewDataBindInit"  data-title="Add Attendee" data-layout="main">
	<header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-back" data-align="left" data-role="backbutton" id="back">
                <div>
                	Back
                </div>
            </a>
            <span id=title data-role="view-title">Add Attendee</span>
        </div>
    </header>
	<ul id="meetingAttendeeAdd-listview"></ul>
</div>

<script type="text/x-kendo-template" id="meetingAttendeeAddListViewTemplate">
	<div class="profile-photo-container">
    	<img class="profile-photo" src="#:ImageUrl#"/>
    </div>
    <div class="profile-details-container">
    	<span class="profile-name">#:Name#</span>
        <br/>
        <span class="profile-company">#:Company#</span>
    </div>
	<div>
		<input type="checkbox" data-role="switch" />
    </div>
</script>