<div data-role="view" id="attendee-detailview" data-show="attendeeDetailShow" data-init="attendeeDetailInit">
	<header data-role="header">
		<div data-role="navbar">
			<a class="nav-button nav-button-back" data-align="left" data-role="backbutton" id="back">
                <div>
                	Back
                </div>
            </a>
			<span data-role="view-title">Meeting Attendee</span>
		</div>
    </header>
    <div class="view-row-details-container">
        <div class="view-photo-container-square">
            <img id="photo" class="view-header-photo" data-bind="attr: { src: ImageUrl }"/>
        </div>
        <div>
            <span class="view-header" data-bind="text: Name"></span>
            <br/>
            <span class="view-detail" data-bind="text: Company"></span>
        </div>
    </div>
    <ul data-role="listview" data-style="inset" class="formArea" onclick="">
        <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Phone</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: Phone"></span>
                    <!--<a id="phone" data-bind="attr: { href: Phone }" data-rel="external"></a>-->
                </li>
            </ul>
        </li>
        <li style="margin: 0px; padding: 0px; width: 100%;">
            <ul class="listview-row-input-table">
                <li class="listview-row-input-cell-label">
                    <span>Email</span>
                </li>
                <li class="listview-row-input-cell-control">
                    <span data-bind="text: Email"></span>
                </li>
            </ul>
        </li>
        <li>
            <span style="color: purple; font-weight: bold">
                ---------------------------------------------------------------- 
                <br/><br/>
                WILL BE ADDING ADDITIONAL DEMOGRAPHIC INFORMATION HERE
                <br/><br/> 
                ----------------------------------------------------------------
            </span>
        </li>
    </ul>
</div>