<div data-role="view" id="profileview" data-show="profileListViewDataShow" data-use-native-scrolling="true" data-layout="save-button-layout" data-title="Profile">
    <form>
        <ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell">
                        <div style="display: inline-block; margin-left: 10px;">
                            <span class="listview-row-subdetail-header" data-bind="text:FullName"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:Company"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:Title"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:EmailAddress"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:WorkPhone"></span>
                        </div>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Notes</span>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-control">
                        <textarea style="resize: none" data-bind="value:Notes" rows="5"></textarea>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="listview-row-button-table">
            <li class="listview-row-button-cell">
                <a data-role="button">Save</a>
                <a data-role="button">Delete</a>
            </li>
        </ul>
        <ul class="listview-row-button-table">
            <li class="listview-row-button-cell">
                <a data-role="button">Cancel</a>
            </li>
        </ul>
    </form>
</div>