<div data-role="view" id="profilesearchview" data-init="profileSearchViewDataInit" data-show="profileSearchViewDataShow" data-layout="back-button-layout" data-title="Profile Search">
    <ul id="profileSearchListView"></ul>
</div>

<script type="text/x-kendo-tmpl" id="profileSearchListViewTemplate">
    <div style="display: table; width: 100%;">
        <div style="display: table-cell; vertical-align: middle; width: 75%;">
            <span class="listview-row-header">#:FullName#</span>
            <br />
            <span class="listview-row-subdetail">#:Company#</span>
            <br />
            <span class="listview-row-subdetail">#:Title#</span>
        </div>
        <div style="display: table-cell; text-align: right; vertical-align: middle; width: 25%;">
            <input data-role="switch" data-on-label="Yes" data-off-label="No" data-checked="#:Checked#" data-change="profileSearchSwitchChange" />
        </div>
    </div>
</script>