<div data-role="view" id="profileview" data-init="profileListViewDataInit" data-show="profileListViewDataShow" data-use-native-scrolling="true" data-layout="save-button-layout" data-title="Profile">
    <form>
        <input type="hidden" id="uid" value="" />
        <ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell">
                        <div style="display: inline-block; margin-left: 10px;">
                            <span class="listview-row-subdetail-header" data-bind="text:FullName"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:Company"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:Title"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:EmailAddress"></span>
                            <br />
                            <span class="listview-row-subdetail" data-bind="text:WorkPhone"></span>
                        </div>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Notes</span>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-control">
                        <textarea data-bind="value:Notes" class="tall" style="resize:none"></textarea>
                    </li>
                </ul>
            </li>
        </ul>
        <div style="bottom: 0; position: absolute; width: 100%;">
            <ul class="listview-row-button-table">
                <li class="listview-row-button-cell">
                    <a data-role="button" data-click="profileSaveButtonClick">Save</a>
                    <a data-role="button" data-click="profileDeleteButtonClick">Delete</a>
                </li>
            </ul>
            <ul class="listview-row-button-table" style="padding-bottom: 0.5em !important;">
                <li class="listview-row-button-cell">
                    <a data-role="button" data-click="profileCancelButtonClick">Cancel</a>
                </li>
            </ul>
        </div>
    </form>
</div>