<div data-role="view" id="subcommitteesview" data-init="subcommitteesListViewDataBindInit" data-show="subcommitteesListViewDataBindShow">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-back" data-align="left" data-role="backbutton" id="back">
                <div>
                	Back
                </div>
            </a>
            <span data-role="view-title">Subcommittees</span>
        </div>
    </header>
    <div class="view-row-details-container">
        <span class="view-header">House Committee on Oversight and Government Reform</span>
    </div>
    <ul id="subcommittees-listview"></ul>
</div>

<script type="text/x-kendo-template" id="subcommitteesListViewTemplate">
	<span class="listview-row-header">#:Name#</span>
</script>