<div data-role="view" id="surveyquestionview" data-init="surveyQuestionListViewDataInit" data-show="surveyQuestionListViewDataShow" data-use-native-scrolling="true" data-layout="save-button-layout" data-title="Survey Question">
    <form>
        <input type="hidden" id="surveyquestionuid" value="" />
        <div class="view-row-details-container-table">
            <div class="view-row-details-container-table-cell">
                <span class="view-header" data-bind="text:surveyQuestionItem.FullName"></span>
            </div>
        </div>
        <ul data-role="listview" data-style="inset" class="formArea" onclick="">
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell">
                        <div style="display: inline-block; margin-left: 10px;">
                            <span data-bind="text:surveyQuestionItem.InitiativeSurvey"></span>
                        </div>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Support Level</span>
                    </li>
                    <li class="listview-row-input-cell-control">
                        <select data-bind="source:supportLevelsOptions, value:surveyQuestionItem.SupportLevelId" data-template="supportLevel-select-template"></select>
                        <script id="supportLevel-select-template" type="text/x-kendo-template">
                            <option value="#:Value#">#:Text#</option>
                        </script>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Follow Up Required?</span>
                    </li>
                    <li class="listview-row-input-cell-control">
                        <input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked:surveyQuestionItem.FollowUpRequired" />
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-label">
                        <span>Comments/Observations</span>
                        <a data-role="button" data-click="openModalSurveyQuestionComments" data-icon="expand-e" class="expand-button">full-screen</a>
                    </li>
                </ul>
            </li>
            <li style="margin: 0; padding: 0; width: 100%;">
                <ul class="listview-row-input-table">
                    <li class="listview-row-input-cell-control">
                        <textarea data-bind="value:surveyQuestionItem.Comments" class="tall"></textarea>
                        <div data-role="modalview" id="modalsurveyquestioncomments" style="width: 100%; height: 100%">
                            <div data-role="header">
                                <div data-role="navbar">
                                    <span>Comments</span>
                                    <a data-role="button" data-align="right" data-click="closeModalSurveyQuestionComments" class="nav-button">Close</a>
                                </div>
                            </div>
                            <ul data-role="listview" data-style="inset" style="margin: 0; padding: 0;">
                                <li style="margin: 0; padding: 0;">
                                    <textarea class="modalTextArea" id="surveyquestioncomments"></textarea>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
</div>