<div data-role="view" id="surveysview" data-init="surveysListViewDataInit" data-show="surveysListViewDataShow" data-layout="back-button-layout" data-title="Initiative Surveys">
    <div class="view-row-details-container-table">
        <div class="view-row-details-container-table-cell">
            <span class="view-header" data-bind="text:FullName"></span>
        </div>
    </div>
    <ul id="surveysListView"></ul>
</div>

<script type="text/x-kendo-template" id="surveysListViewTemplate">
    <!--<div style="display: table; height: 4em;">
        <div style="display: table-cell; text-align: left; vertical-align: middle;">-->
    <input type="hidden" id="legislatorId" value="#:LegislatorId#" />
    <input type="hidden" id="initiativeId" value="#:InitiativeId#" />
    <input type="hidden" name="questionCount" value="#:QuestionCount#" />
    <span class="listview-row-header">#:Initiative#</span>
    <br />
    <span class="listview-row-subdetail">(#:QuestionCount# survey questions)</span>
        <!--</div>
    </div>-->
    <a data-role="detailbutton" data-icon="details"></a>
</script>