body, html 
{
    margin: 0;
    height: 100%;
    width: 100%;
}

.km-collapsible-header
{
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}

.km-collapsible-header span.km-icon.km-arrow-s, .km-collapsible-header span.km-icon.km-arrow-n
{
    display: none !important;
}

.km-collapsible-header h2
{
    margin: 0.25em 0.5em 0.25em 0.5em !important;
    padding: 0 !important;
}

/* COMMON STYLES*/
.view-content h1 
{
    color: #42454a;
    font-size: 1.8em;
}

.view-content h1.welcome 
{
    text-align: center;
}

.view-content h3 
{
    color: #42454a;
    font-size: 1.1em;
}

.view-content p 
{
    color: #4a4e54;
    font-size: 1em;
}

#fgrApp.km-flat .km-content 
{
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border: 0 none;
  background-color: #ffffff;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

#fgrApp .formArea 
{
    font-family: "Open Sans", sans-serif;
   	margin: 0px !important;
  	/*border: solid 1px green !important;*/
}

#fgrApp .formArea li 
{
	/*border: solid 1px green !important;*/
    border: none !important;
  	color: #000 !important;
    font-weight: bold;
    vertical-align: middle !important;
}
   
#fgrApp .formArea li label 
{
  	width: 30% !important;
}
   
#fgrApp .formArea li select 
{
    /*border: solid 1px #ccc !important;*/
    color: #999 !important;
    margin: 0px !important;
	position: relative !important;
    direction: rtl !important;
    width: 100% !important;
}  
  
#fgrApp .formArea li input 
{
	/*border: solid 1px #ccc !important;*/
    color: #999 !important;
    margin: 0px !important;
	position: relative !important;
    text-align: right !important;
    width: 100% !important;
}  
  
#fgrApp .formArea li textarea 
{
    background-color: #fff !important;
    /*border: solid 1px #ccc !important;*/
	color: #999 !important;
    float: left !important;
    font-size: 1.25em !important;
    margin: 0px !important;
	position: relative !important;
    width: 100% !important;
    height: 200px !important;
}  

/* App Header */
.km-view-title
{
    background-color: #0a6fb0 !important;
    color: #fff !important;
    font-size: 1.75em !important;
}

#fgrApp .km-flat.km-on-ios.km-black-translucent-status-bar .km-header 
{
  min-height: 20px;
  background-color: #2d3e50;
}

#fgrApp .km-flat .km-header .km-navbar 
{
  min-height: 3.15em;
}

#fgrApp .km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar 
{
  min-height: 4.5em;
}

#fgrApp .km-flat .km-header .km-view-title 
{
  margin-top: .4em !important;
  font-size: 1rem;
}

#fgrApp .km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title 
{
  margin-top: .4em !important;
}

/* IMAGE STYLES*/
.img 
{
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 320px;
    height: 250px;
    margin: 0px auto;
}

.logo 
{
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    margin: 40px auto;
}

/* BUTTON STYLES*/
.buttonArea 
{
    text-align: center;
}

.login-button 
{
    width: 50%;
    max-width: 300px;
    font-size: .9em;
    -webkit-appearance: none;
}

/* MAP STYLES*/
#no-map 
{
    position: absolute;
    margin: 0 auto;
    top: 40%;    
    text-align: center;
}

#map-canvas 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-search-wrap 
{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#map-address 
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 3px 50px 0px 50px;
    background-color: #fff;
    font-style: italic;
    color: #000;
    padding: 7px 10px;
    border-radius: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 #3C3C3C;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

#map-search 
{
    float: right;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-image: url(../styles/images/search.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#map-search:active 
{
    background-image: url(../styles/images/search_active.png);
    background-repeat: no-repeat;
}

#map-navigate-home 
{
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    background: none;
    background-image: url(../styles/images/location.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#map-navigate-home:active 
{
    background-image: url(../styles/images/location_active.png);
    background-repeat: no-repeat;
}

/* WEATHER STYLES*/
.weather 
{
    padding-top:50px;
}

.weather .weather-title 
{
    color: #fff;
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

.weather-info 
{
    color: #fff;
    font-size: 1.2em;
    text-shadow: none;
    line-height: 1.8em;
    display: inline-block;
}

.position-left 
{
    float: left;
}

.position-right 
{
    float: right;
}

.position.center 
{
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

/* DEVICE SPECIFIC STYLES*/
#skin-change 
{
    position: absolute;
    right: 10px;
    top: 10px;
}

.km-ios .km-listview-wrapper .km-listinset li 
{
    background-color: #fff;
    border-color: #ababab;
}

.km-ios .km-view .km-content 
{
    background-image: none;
    background: #f0f0f0;
}

.km-tablet .km-ios .km-navbar .km-view-title 
{
    color: #000;
    text-shadow: 0 -1px rgba(255,255,255,0.3);
}

.km-tablet .km-ios #edit-listview .km-view-title,
.km-tablet .km-ios #edit-detailview .km-view-title 
{
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.5);
}

.km-android .view-content h1 
{
    color: #8a8b8f;
}

.km-android .view-content p,
.km-android .view-content h3 
{
    color: #2e5968;
}

.km-flat .km-list > li 
{
    box-shadow: none;
}

.km-ios .km-list > li,
.km-flat .km-list > li 
{
    background: none;
    color:black;
}

/* Separator Style*/
.separator > .dark 
{
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.2)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(70%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}

.separator > .light 
{
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    height: 1px;
    border: none;
    width: 100%;
    opacity: 0.3;
}

/* RETINA DISPLAY STYLES*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) 
{
    .img 
    {
        background-image: url(../styles/images/appbuilder2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .logo 
    {
        background-image: url(../styles/images/logo2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #map-search 
    {
        background-image: url(../styles/images/search2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #map-search:active 
    {
        background-image: url(../styles/images/search_active2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #map-navigate-home 
    {
        background-image: url(../styles/images/location2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #map-navigate-home:active 
    {
        background-image: url(../styles/images/location_active2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .weather-icon 
    {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.bio-detail-container
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
}

/* Button Styles */
#fgrApp .km-header .nav-button 
{
  display: inline-block;
  font-size: 1.25em !important;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 0 none;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#fgrApp .km-header .nav-button-back 
{
  background-image: url(images/icon-arrow_left.png);
  background-position: .65em 50%;
}

#fgrApp .km-header .nav-button-back .km-text div 
{
    color: white !important;
	margin-left: 1.5em !important;
    margin-top: .3em !important;
}

#fgrApp .km-header .nav-button-add 
{
  background-image: url(images/icon-add.png);
}

#fgrApp .km-header .nav-button-back,
#fgrApp .km-header .nav-button-add 
{
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
          transition: opacity 0.3s;
}


#fgrApp .km-header .nav-button-edit 
{
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

#fgrApp .km-header .nav-button-back:hover,
#fgrApp .km-header .nav-button-add:hover 
{
    opacity: .6;
}

#fgrApp .km-header .nav-button-cancel,
#fgrApp .km-header .nav-button-post 
{
    color: #fff;
	font-size: 1rem;
  	height: 2.5em;
  	line-height: 2.5em;
  	width: auto;
}

#fgrApp .km-header .nav-button-edit 
{
    color: #fff;
	font-size: 1rem;
  	height: 2.5em;
  	line-height: 2.5em;
  	width: auto;
}

#fgrApp .km-header .hide-text 
{
  overflow: hidden;
  text-indent: -999px;
}


/* View Styles */
.view-photo-container
{
    border-radius: 8px;
    box-shadow: 0 1px 3px #333;
    float: left;
    height: 5.5em;
    width: 4.5em;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px #333;
}
.view-photo-container-square
{
    border-radius: 8px;
    box-shadow: 0 1px 3px #333;
    float: left;
    height: 4.5em;
    width: 4.5em;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px #333;
}
.view-row-details-container-table
{
    background-color: #cc2d30 !important;
    height: 4em; 
    display: table;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
}
.view-row-details-container-table-cell
{
    display: table-cell; 
    text-align: center; 
    vertical-align: middle;
}
.view-row-details-container
{
    background-color: #cc2d30 !important;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
}
.view-header
{
    color: #ffffff;
    font-size: 1.75em !important;
    vertical-align: middle !important;
}
.view-detail
{
    color: #cccccc;
    font-size: 1em;
}
.view-header-photo 
{
    height: auto;
    width: 4.5em;
}

/* List View Styles */
.listview-row-photo-container
{
    border-radius: 8px;
    box-shadow: 0 1px 3px #333;
    float: left;
    height: 5.5em;
    width: 4.5em;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px #333;
}
.listview-row-photo-container-square
{
    border-radius: 8px;
    box-shadow: 0 1px 3px #333;
    float: left;
    height: 4.5em;
    width: 4.5em;
    margin-right: 10px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px #333;
}
.listview-row-details-container
{
    background-color: #cc2d30 !important;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
}
.listview-row-header-default
{
    font-size: 1.75em !important;
}
.listview-row-header
{
    color: #cc2d30;
    font-size: 1.75em !important;
}
.listview-row-detail
{
    font-size: 1.5em !important;
}
.listview-row-detail-form
{
    font-size: 1.25em !important;
    font-weight: normal !important;
}
input, select
{
    font-size: 1.25em !important;
    font-weight: normal !important;
}
.listview-row-subdetail
{
    color: #999;
    font-size: 1em;
}
.listview-row-photo 
{
    height: auto;
    width: 4.5em;
}
.listview-row-input-heading-table
{
    border-bottom: solid 1px #ccc;
    display: table; 
    height: 30px; 
    margin: 0px;
    padding: 0px; 
    width: 100%;
}
.listview-row-input-heading-cell
{
    color: #999 !important;
    display: table-cell;
    width: 100%;
}
.listview-row-input-heading-cell span
{
    color: #999 !important;
    font-weight: normal !important;
    margin-left: 10px !important;
}
.listview-row-input-table
{
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    display: table; 
    height: 3em !important; 
    margin: 0;
    padding: 0; 
    width: 100%;
}
.listview-row-input-cell
{
    display: table-cell;
    font-size: 1.25em !important;
    font-weight: normal !important;
    padding-bottom: 0.5em !important;
    padding-top: 0.5em !important;
}
.listview-row-input-cell-label
{
    display: table-cell;
    margin-left: 10px !important;
    /*width: 45%;*/
}
.listview-row-input-cell-label span
{
    font-size: 1.25em !important;
    font-weight: normal !important;
    margin-left: 10px !important;
}
.listview-row-input-cell-control
{
    display: table-cell; 
    text-align: right;
    /*width: 55%;*/
}
.listview-row-input-cell-control span
{
    color: #999 !important;
    font-weight: normal !important;
    margin-right: 10px;
}

/*.km-filter-form
{
    background-color: #eee !important;
}*/

.km-flat .km-switch-background, .km-flat .km-switch-wrapper
{
    background-color: #0a6fb0 !important;
}

span.km-switch-label-on
{
    color: white !important;
}

.km-scroll-wrapper,
.km-native-scroller
{
    /*background-color: #eee !important;*/
    background: -webkit-linear-gradient(#fff, #eee, #eee, #eee, #fff) !important; /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#fff, #eee, #eee, #eee, #fff) !important; /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#fff, #eee, #eee, #eee, #fff) !important; /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ddd, #eee, #fff, #eee, #ddd) !important; /* Standard syntax */
}

.mainList li 
{
    background-color: #eee !important;
    background: -webkit-linear-gradient(#ddd, #eee, #eee, #eee, #ddd) !important; /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#ddd, #eee, #eee, #eee, #ddd) !important; /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#ddd, #eee, #eee, #eee, #ddd) !important; /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ddd, #eee, #eee, #eee, #ddd) !important; /* Standard syntax */
}

.km-tabstrip 
{
    background-color: #0a6fb0 !important;
}

.km-tabstrip .km-state-active
{
    background-color: #cc2d30 !important;
}

/* Icon Definitions */
.km-bio-e:after,
.km-bio-e:before
{
    content: "\e319";
}
.km-vote-e:after,
.km-vote-e:before
{
    content: "\e037";
}
.km-committees-e:after,
.km-committees-e:before
{
    content: "\e077";
}
.km-news-e:after,
.km-news-e:before
{
    content: "\e0cf";
}
.km-youtube-e:after,
.km-youtube-e:before
{
    content: "";
}
.km-website-e:after,
.km-website-e:before
{
    content: "\e0dc";
}
.km-facebook-e:after,
.km-facebook-e:before
{
    content: "";
}
.km-twitter-e:after,
.km-twitter-e:before
{
    content: "";
}